name: CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - "althack/ros2:humble-dev"
          - "althack/ros2:jazzy-dev"
          - "althack/ros2:rolling-dev"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - run: ./tests/data/gen.sh
        env:
          DOCKER_IMAGE: ${{ matrix.image }}
      - run: npm run compile
      - run: npm run test

  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            vsce_platform: win32
            vsce_arch: x64
            npm_platform: win32
            npm_arch: x64

          - os: ubuntu-latest
            vsce_platform: linux
            vsce_arch: x64
            npm_platform: linux
            npm_arch: x64

          - os: ubuntu-24.04-arm
            vsce_platform: linux
            vsce_arch: arm64
            npm_platform: linux
            npm_arch: arm64

          - os: macos-latest
            vsce_platform: darwin
            vsce_arch: x64
            npm_platform: darwin
            npm_arch: x64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          check-latest: true
          cache: npm

      - run: npm ci
        env:
          npm_config_platform: ${{ matrix.npm_platform }}
          npm_config_arch: ${{ matrix.npm_arch }}
          npm_config_libc: ${{ matrix.npm_libc }}
          npm_config_arm_version: ${{ matrix.npm_arm_version }}
      - run: |
          TARGET=${{ matrix.vsce_platform }}-${{ matrix.vsce_arch }}
          npx vsce package --target "$TARGET"
        shell: bash

  complete:
    needs:
      - lint
      - test
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Check
        run: echo "Completed successfully!"
